[submodule "src/models/third_party/g_mlp_repo"]
	path = src/models/third_party/g_mlp_repo
	url = https://github.com/jaketae/g-mlp.git
[submodule "posthoc/third_party/DCA"]
	path = posthoc/third_party/DCA
	url = https://github.com/petrapoklukar/DCA.git
